@charset "utf-8";
/* CSS Document */

/* import css */

@import url("sticky-footer-navbar.css");
@import url("carousel.css");
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/ 
@import url("nanumsquare.css");
@import url("all.css");
@import url("icomoon.css");

/*@font-face{
font-family:'NanumSquare';
src: url('../fonts/NanumSquareR.eot');
src: url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
     url('../fonts/NanumSquareR.woff') format('woff'),
     url('../fonts/NanumSquareR.ttf') format('truetype');
}*/
@font-face {
  font-family:'icomoon';
  src:url('../fonts/icomoon.eot?8syd2w');
  src:url('../fonts/icomoon.eot?8syd2w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8syd2w') format('truetype'),
    url('../fonts/icomoon.woff?8syd2w') format('woff'),
    url('../fonts/icomoon.svg?8syd2w#icomoon') format('svg');
  font-weight:normal;
  font-style:normal;
}

/* setting */
/*html,html body,div,dt,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,blockquote,th,td,input,select,textarea,button,img{font-family:"Nanum Gothic";}*/
h1,h2,h3,h4,h5,h6{font-family:"NanumSquare";font-weight:400;}
html,html body{font-size:16px;font-family:"Helvetica Neue",Helvetica,Arial,"맑은 고딕",Malgun Gothic,sans-serif;}
.btn{transition: 0.3s;border-radius:0px;}
.btn-primary{background-color:#0e87e7;opacity: 0.8;}
.btn:hover{background-color:#0e87e7;opacity: 1;box-shadow:0 1px 5px rgba(0,0,0,.2);}
.btn-default:hover{background-color:#f2f2f2;box-shadow:0 1px 5px rgba(0,0,0,.1);}
.no-gutters {
   padding-left: 0;
   padding-right: 0;
}
.no-gutters .row{
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
.footer{background-color:#fff;border-top:solid 1px #f0f0f0;font-size:0.9rem;}
.badge-error {background-color: #b94a48;}
.badge-error:hover {background-color: #953b39;}
.badge-warning {background-color: #f89406;}
.badge-warning:hover {background-color: #c67605;}
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;}
.badge-info {background-color: #3a87ad;}
.badge-info:hover {background-color: #2d6987;}
.badge-inverse {background-color: #333333;}
.badge-inverse:hover {background-color: #1a1a1a;}


/* carousel custom */ 
.carousel, .carousel .item {height:65vh;} /* carousel height : default 500px */
.first-slide {background: url("../img/slide_1.jpg") no-repeat center center; }
.second-slide{background: url("../img/slide_2.jpg") no-repeat center center;}
.third-slide{background: url("../img/slide_3.jpg") no-repeat center center;}
.carousel-control{width:30px;}
.carousel-caption{left:10%;right:10%}
.carousel-caption h1{font-family:"NanumSquare";padding:50px 0 30px 0;}
.carousel-caption .btn-primary {border:solid 1px #d8d8d8;color:#d8d8d8;border-radius:20px;background:transparent;opacity: 1;}
.carousel-caption .btn-primary:hover{border-color:#fff; background-color:#fff;color:#000;}

/* custom css */
/*.navbar-brand{background: url("../img/logo_full.png") no-repeat left center; background-size: contain; padding:15px 0; margin:0 10px;}
.navbar-brand strong{display:inline-block;letter-spacing:-1px;padding-left:140px;font-family:"NanumSquare";font-weight:700;color:#000;margin:0;}*/

.navbar-brand{background: url("../img/logo_full.png") no-repeat left center; background-size: contain; text-indent:-9999px; overflow:hidden;}


table.centered thead tr th, table.centered tbody tr td {text-align: center;}
h6.text-success{background-color:#e4503a;color:#fff;border-radius:2px; display:inline-block;padding:4px 8px;}
h6.text-success+h2{margin-top:10px;margin-bottom:20px;font-weight:700;color:#111;}
.main-block-title{padding:30px 0;}
.main-block-title h1{color:#000;font-size:3rem;font-weight:700;}
.main-block-title div{text-align:center;}
.main-block-title .thumbnail{background:#eaeaea;margin:30px auto 0 auto;width:200px;border-radius:50%;}
.main-block-title .thumbnail span{color:#333; display:inline-block; text-align:center;font-size: 50px;line-height: 180px;}
.main-block-title h4{padding-top:20px;font-weight:700;color:#111;}

.main-link :hover div.thumbnail{border-color:#e4503a;color:#e4503a;}
.main-link :hover div.caption{color:#e4503a !important;}
.main-link :hover, .main-link :hover *{text-decoration:none !important;color:#e4503a !important;}



header.jumbotron{margin-top:50px;margin-bottom:0;padding:20px 0;background: url("../img/bg_sub.jpg") no-repeat left top; background-size: cover;}
header.jumbotron h1{font-size:2.5rem;font-weight:300;color:#fff;}
.table{margin-bottom:0;}
.table>thead>tr{border:solid 1px #ccd5df;}
.table>thead>tr>th{border-bottom:solid 1px #ccd5df;}
.table th{background-color:#eef2f6;color:#62758b;font-size:0.8rem; }
.table td{font-size:0.9rem;vertical-align:middle !important;}
.table-hover tbody tr:hover{background-color:#fffff4;}
.table-bordered>tbody>tr>td{border:solid 1px #eee;}

.table .badge{font-size:0.9rem;}
.view-detail {border: solid 1px #ccd5df;margin-bottom: 20px;border-radius: 0;}
.view-detail .panel-heading{color: #62758b;}
.view-detail h2{margin:0;padding:10px 5px;}
.view-detail h2 span{display: inline-block;border-radius: 50%;width:30px;height:30px;background-color: #3a87ad;color: #fff;line-height: 30px;margin-right:10px;text-align: center;}
.view-detail .panel-body ul{padding-bottom:10px;border-bottom:dotted 1px #eaeaea;margin-top:-5px;}
.view-detail .panel-body p{padding: 15px 5px;line-height: 150%;clear:both;}
.code-block {padding:20px;margin:10px 0;background-color: #f8f8f8;border-radius: 10px;}
.code-block h3{margin-top:0;font-size:1.1rem;font-family: Consolas,"courier new";}
.code-block blockquote{border-left: 4px solid #3a87ad;word-wrap: break-word;font-family: Consolas,"courier new";padding-left: 20px;margin: 0;background: #fff;}
.code-block pre{border:none; background:transparent; margin:0;padding:0;}

.breadcrumb{background-color:transparent;text-align:right;margin-bottom:0 !important;}
.breadcrumb li{font-size:0.8rem;}
.breadcrumb>li+li:before{content:">";}

/*article.container .row{padding:15px 0;}*/
.search>div:first-child{font-size:0.8rem;line-height:3}
.search.well{margin-bottom:0px;background:transparent;box-shadow:none;border:none;}
.search .input-group{/*padding-top:2px;*/}
.search > [class*=" col-"] {padding-left:0; padding-right:0;}
.search{padding-left:0;padding-right:0;}

.list-group{margin-bottom:0;}
.list-group:first-child a{border-top:solid 2px #bbb;border-radius:0;}
.list-group-item-heading{padding:15px 0;font-size:1.25rem;color:#111;font-weight:700;}
.list-group-item{border-radius:0;border:none;border-bottom:solid 1px #eaeaea;}
a.list-group-item:hover{background-color:#f8feff;}
.list-group-item:hover h4{color:#144f93;}

ul.list-group-item-text, ul.list-group-item-text li{padding:0; margin:5px 0;list-style:none;font-size:0.9rem;}
ul.list-group-item-text li strong{border-radius:3px; border:solid 1px #d8d8d8; padding:2px 4px; margin-right:10px; color:#aaa; font-size:0.75rem;letter-spacing: -1px;}

.btn-secondary{background: #aaa;margin:0 5px;border:none;border-radius: 13px !important;height:26px;padding:0 7px;line-height: 26px;letter-spacing: -1px;color: #fff;font-size: 0.8rem;}
.btn-secondary:hover{background-color: #e4503a;color:#fff;}
.btn-secondary.active{background: #e4503a;color: #fff;}

.reply-box{padding-top: 20px;}
.reply-title{padding-bottom: 10px;}
.reply-title h2{font-family:"맑은 고딕",Malgun Gothic;font-weight:bold;}
.reply-title i{color: #333;font-size:1rem;}
.reply-title button, .reply-title button:hover{background: #fff;box-shadow:none;}
.reply-title button:hover, .reply-title button:hover *{color:#e4503a;}
.reply-box .panel-title span{display: inline-block;border-radius: 50%;width:24px;height:24px;background-color: #e4503a;color: #fff;line-height: 24px;margin-right:5px;text-align: center;}
.reply-date{display:inline-block;}

section > h2 {padding-top:10px;font-size:1.2rem;}
.panel-info.view-detail{background:#f4f9fd;}
.panel-info>.panel-heading{border-bottom:solid 1px #a4c8e0;}
.panel-info>.panel-heading .form-group{margin:0;color:#444;font-size:0.9rem;}
.panel-body .form-group label{font-size:0.8rem;color:#3a87ad;}
.panel-body .form-group textarea{border-radius:0;}

.user-profile>div:first-child{padding-left:0;}
.user-profile>div:last-child{padding-right:0;}
.user-profile h2{font-size: 0.9rem;font-family:"맑은 고딕",Malgun Gothic;font-weight:bold;color:#111;}
.user-profile .table>thead>tr{border:solid 1px #a4c8e0;}
.user-profile .table>thead>tr>th{background:#f4f9fd;color:#0e87e7;border:solid 1px #a4c8e0;}
.user-profile .table>tbody>tr>td{border:solid 1px #eee;font-weight:700;}

.write-box .view-detail{border:solid 1px #a4c8e0;}

/* RESPONSIVE CSS
-------------------------------------------------- 
*/
@media (max-width: 576px){
	.navbar-brand {min-width:55vw;margin-left:15px;}
	.search{padding-left:10px;padding-right:10px;}
	header.jumbotron h1, .main-block-title h1{font-size:2rem;}
	.view-detail .panel-heading {padding:5px;}
	.view-detail h2{font-size:1.1rem;line-height:120%;}
	.view-detail .panel-body p{font-size:0.9rem;padding: 15px 0px;}
	.reply-title h2{font-size:0.9rem;padding:4px 0 0 4px}
	.reply-date {display:block;font-size:0.7rem;margin-left:30px;}
	.user-profile>div{padding-left:0;padding-right:0;}
}
@media (min-width: 577px) and (max-width: 767px) {
	.navbar-brand {min-width:35vw;margin-left:10px;}
	.search, section.row{padding-left:15px;padding-right:15px;}
	.table>thead>tr{border:none;}
	.footer {font-size:0.7rem;}
	.user-profile>div{padding-left:0;padding-right:0;}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container{width:auto;}
	.navbar-brand {min-width:23vw;}
	.navbar>.container .navbar-brand{margin-left:0;}
	.nav:first-child{padding-left:20px;}
	.search, section.row{padding-left:15px;padding-right:15px;}
	.user-profile>div:first-child{padding-right:0;}
	.user-profile>div:last-child{padding-left:0;}
	
}
@media (min-width: 992px) and (max-width : 1999px) {
	.navbar-brand {min-width:23vw;}

}
@media (min-width : 1200px) {
	.navbar-brand {min-width:15vw;}
	.nav:first-child{padding-left:50px;}
	
}

